@use "../../styles/var";

.appHeader {
  max-width: var(--max-width);
  width: 100%;
  padding: var(--large-space);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navIcon {
  font-weight: 700;
  font-size: 2.5rem;
}

.navBurger {
  transform: rotate(90deg);
}

.navButtons {
  display: none;
}

@media (min-width: 650px) {
  .navButtons {
    display: grid;
    grid-auto-flow: column;
    gap: var(--medium-space);
  }

  .navBurger {
    display: none;
  }
}
