// LIGHT MODE COLORS
$colorBlue: #4d3ff6;
$colorLightBlue: #e2e0fc;
$colorBlack: #313f4d;
$colorGrey: #75828f;
$colorLightGrey: #42546621;

// DARK MODE COLORS

// PADDINGS / MARGINS / GAPS
$smallSpace: 1rem;
$mediumSpace: 2rem;
$largeSpace: 3rem;

// WIDTH
$maxWidth: 90rem;
