@use "./var";

.card {
  padding: var.$mediumSpace;
  border-radius: 2rem;
  border: 0.2rem solid var.$colorLightGrey;
  text-align: left;
  box-shadow: rgb(0 0 0 / 21%) 0px 3px 100px 0px;
  display: grid;
  gap: var.$smallSpace;
  align-content: flex-start;
}

.cardImage {
  border-radius: var.$mediumSpace;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 13/9;
}

.cardDetails {
  display: grid;
  gap: var.$smallSpace;
  padding: 1rem 0;
}
