@use "./var";

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  min-height: 100%;
  min-width: 100%;
  margin-bottom: 2.5rem;
  color: black;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  color: #313f4d;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}

h4 {
  font-size: 2rem;
  font-weight: 600;
}

em {
  color: #4d3ff6;
  font-style: normal;
}

strong {
  font-weight: 600;
}

p {
  font-weight: 300;
  color: #425466ba;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

header {
  width: 95%;
  max-width: 130rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

main {
  width: 95%;
  max-width: 130rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
