@use "./var";

#__next {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  width: 100%;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  min-height: 100%;
  min-width: 100%;
  color: black;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  background: white;
  font-size: 1.6rem;
  color: var.$colorBlack;
}

ul {
  list-style: inside;
}

li {
  margin-bottom: var.$smallSpace;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: var.$mediumSpace;
}

h3 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: var.$mediumSpace;
}

h4 {
  font-size: 2rem;
  font-weight: 600;
}

strong {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

main {
  padding: var.$largeSpace;
  gap: var.$largeSpace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.colorBlue {
  color: var.$colorBlue;
}

.colorGrey {
  color: var.$colorGrey;
}

.bold {
  font-weight: 500;
}
